:root {
  --foreground-rgb: 16, 13, 8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

.summary {
  .summary-title {
      margin-top: 1rem;
      font-family: 'Level1';
      font-size: 3.2rem;
  }

  .summary-content {
      margin-bottom: 1rem;
  }
}

@font-face {
  font-family: 'Level1';
  src: url('../../public/fonts/Unique.otf') format('opentype');
}

@font-face {
  font-family: 'Level2';
  src: url('../../public/fonts/Bhlingglers.otf') format('opentype');
}

@font-face {
  font-family: 'Level3';
  src: url('../../public/fonts/PlaypenSans.ttf') format('opentype');
}

@font-face {
  font-family: 'Special';
  src: url('../../public/fonts/Skatepark.otf') format('opentype');
}
