:root {
  --font-color: 16, 13, 8;

  --ivory: #ede9e3;
  --nude: #e7d7c9;
  --dusty_rose: #d4b2a7;
  --stone: #cdc6c3;
  --latte: #a38f85;

  --linen: #faf0e6;
  --antique-white: #faebd7;
  --champagne: #f7e7ce;
  --cosmic-latte: #fff8e7;

  --desert-storm: #f8f8f7;
  --pampas: #ece9e4;
  --pot-pourri: #f3e8dc;
  --akaroa: #d8c482;
  --brandy-rose: #be9982;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--font-color));
}

a {
  color: inherit;
  text-decoration: none;
}

.summary {
  .summary-title {
    margin-top: 1rem;
    font-family: 'Level1';
    font-size: 3.2rem;
  }

  .summary-content {
    margin-bottom: 1rem;
  }
}

@font-face {
  font-family: 'Level1';
  src: url('../../public/fonts/Unique.otf') format('opentype');
}

@font-face {
  font-family: 'Level2';
  src: url('../../public/fonts/Bhlingglers.otf') format('opentype');
}

@font-face {
  font-family: 'Level3';
  src: url('../../public/fonts/PlaypenSans.ttf') format('opentype');
}

@font-face {
  font-family: 'Special';
  src: url('../../public/fonts/Skatepark.otf') format('opentype');
}