$numOfSlides: 5;
$slidingAT: 1.3s;
$controlSize: 60px;

.slider {
    overflow: hidden;
    position: relative;
    width: 100vw;

    &__slides {
        z-index: 1;
        position: relative;
        height: 100vh;
        width: 100vw;

        .slide {
            overflow: hidden;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 150vmax;
            height: 150vmax;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            transition: clip-path 0s $slidingAT*0.7;
            clip-path: circle($controlSize/2 at 120vw 50%);

            &.s--active {
                z-index: 1;
                transition: clip-path $slidingAT;
                clip-path: circle(120vmax at 120vw 50%);

                &.s--active-prev {
                    clip-path: circle(120vmax at 30vw 50%);
                }
            }

            &__inner {
                object-fit: cover;
                object-position: center;
                width: 100vw;
                height: 100vh;
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -50vw;
                margin-top: -50vh;
            }
        }
    }
}

.content {
    margin-top: -100vh;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

@keyframes arrowLineRotation {
    to {
        transform: rotate(180deg);
    }
}

@keyframes arrowLineRotationRev {
    to {
        transform: rotate(-180deg);
    }
}