.galleryContainer {
    width: 100%;

    .summary {
        text-align: center;

        .summary-title {
            margin-top: 2rem;
            font-family: 'Level1';
            font-size: 3.2rem;
        }
    }

    .lightbox {
        position: fixed;
        width: 100%;
        height: 100%;
        text-align: center;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 999;
        opacity: 0;
        pointer-events: none;

        &.trans {
            transition: all 1s ease;
            -moz-transition: all 1s ease;
            -ms-transition: all 1s ease;
            -o-transition: all 1s ease;
            -webkit-transition: all 1s ease;
        }

        img {
            max-width: 90%;
            max-height: 80%;
            position: relative;
            top: -100%;
            transition: all 1s ease;
            -moz-transition: all 1s ease;
            -ms-transition: all 1s ease;
            -o-transition: all 1s ease;
            -webkit-transition: all 1s ease;
        }

        &:target {
            outline: none;
            top: 0;
            opacity: 1;
            pointer-events: auto;
            transition: all 1.2s ease;
            -moz-transition: all 1.2s ease;
            -ms-transition: all 1.2s ease;
            -o-transition: all 1.2s ease;
            -webkit-transition: all 1.2s ease;

            img {
                top: 50%;
                transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
            }
        }
    }
    
    .grid {
        position: relative;
        display: grid;

        figure {
            position: relative;
            overflow: hidden;
            margin: unset !important;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                opacity: 0;
                transition: opacity 2s, transform 0.3s ease-in-out;
                &:hover {
                    transform: scale(1.05);
                }
            }
            
            
        }
    }

    @media only screen and (min-width: 1440px) {
        $maxWidth: 1440px;
        $gridGrap: 2px;
        $columnCount: 8;
        $rowCount: 8;
        .grid {
            width: $maxWidth;
            margin: 1.5rem auto 2rem auto;
            grid-gap: $gridGrap;
            grid-template-columns: repeat($columnCount, calc(1440px / $columnCount));
            grid-template-rows: repeat($rowCount, calc(960px / 4));

            figure {
                img {
                    opacity: 0;
                    transition: opacity 2s, transform 0.3s ease-in-out;
    
                    &.vertical {
                        width: calc(540px/2);
                        height: calc(960px/2);
                    }
    
                    &.horizontal {
                        width: calc(960px/2);
                        height: calc(540px/2);
                    }
                }
            }
        }
    }

    .test {
        display: none;
        width: 100px;
        height: 100px;
        animation: pulse 5s infinite;
    }

    @keyframes pulse {
        0% {
            background-color: #001F3F;
        }
        
        50% {
            background-color: yellow;
        }
    
        100% {
            background-color: #FF4136;
        }
    }
}