$distance: 4rem;

.galleryContainer {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .lightbox {
        position: fixed;
        width: 100%;
        height: 100%;
        text-align: center;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 999;
        opacity: 0;
        pointer-events: none;

        &.trans {
            transition: all 1s ease;
            -moz-transition: all 1s ease;
            -ms-transition: all 1s ease;
            -o-transition: all 1s ease;
            -webkit-transition: all 1s ease;
        }

        img {
            max-width: 90%;
            max-height: 80%;
            position: relative;
            top: -100%;
            transition: all 1s ease;
            -moz-transition: all 1s ease;
            -ms-transition: all 1s ease;
            -o-transition: all 1s ease;
            -webkit-transition: all 1s ease;
        }

        &:target {
            outline: none;
            top: 0;
            opacity: 1;
            pointer-events: auto;
            transition: all 1.2s ease;
            -moz-transition: all 1.2s ease;
            -ms-transition: all 1.2s ease;
            -o-transition: all 1.2s ease;
            -webkit-transition: all 1.2s ease;

            img {
                top: 50%;
                transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
            }
        }
    }
    
    .grid {
        position: relative;
        display: grid;
    }

    @media only screen and (min-width: 320px) and (max-width: 599px) {
        $maxWidth: 500px;
        $gridGrap: 1px;
        $columnCount: 3;
        $rowCount: 6;
        $scaleDown: 3.5;

        .grid {
            width: 90%;
            max-width: $maxWidth;
            margin: 1.5rem auto 2rem auto;
            grid-gap: $gridGrap;
            grid-template-columns: repeat($columnCount, 1fr);
            grid-template-rows: repeat($rowCount, calc(960px / 6));

            figure {
                position: relative;
                overflow: hidden;
                margin: unset !important;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    opacity: 0;
                    transition: opacity 1s, transform 0.3s ease-in-out;

                    &.vertical, &.VERTICAL {
                        width: calc(540px/$scaleDown);
                        height: calc(960px/$scaleDown);
                    }
    
                    &.horizontal, &.HORIZONTAL {
                        width: calc(960px/$scaleDown);
                        height: calc(540px/$scaleDown);
                    }
                }

                &.img-1 {
                    grid-row: 1/3;
                    img {
                        width: -webkit-fill-available !important;
                        height: -webkit-fill-available !important;
                    }
                }

                &.img-2 {
                    align-items: start !important;
                    img {
                        width: -webkit-fill-available !important;
                    }
                }

                &.img-3 {
                    img {
                        width: -webkit-fill-available !important;
                    }
                }

                &.img-4 {
                    align-items: end !important;
                }

                &.img-5 {
                    display: none;
                    justify-content: start !important;
                    img {
                        width: auto !important;
                        height: -webkit-fill-available !important;
                    }
                }

                &.img-6 {
                    img {
                        width: -webkit-fill-available !important;
                    }
                }

                &.img-7 {
                    grid-column: 2/4;
                    img {
                        width: -webkit-fill-available !important;
                        height: auto !important;
                    }
                }

                &.img-8 {
                    img {
                        width: -webkit-fill-available !important;
                    }
                }

                &.img-9 {
                    img {
                        height: -webkit-fill-available !important;
                    }
                }

                &.img-10 {
                    align-items: start !important;
                    img {
                        width: -webkit-fill-available !important;
                    }
                }

                &.img-11 {
                    align-items: end !important;
                    img {
                        width: -webkit-fill-available !important;
                    }
                }

                &.img-12 {
                    grid-column: 1/2;
                    grid-row: 3/4;
                    img {
                        width: -webkit-fill-available !important;
                    }
                }

                &.img-13 {
                    align-items: end !important;
                    img {
                        width: -webkit-fill-available !important;
                    }
                }

                &.img-14 {
                    grid-column: 2/4;
                    grid-row: 5/6;
                    img {
                        width: -webkit-fill-available !important;
                        height: auto !important;
                    }
                }

                &.img-15 {
                    grid-column: 1/3;
                    grid-row: 6/7;
                    img {
                        height: auto !important;
                        width: -webkit-fill-available !important;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 600px) and (max-width: 1439px) {
        $maxWidth: 1024px;
        $gridGrap: 1px;
        $columnCount: 5;
        $rowCount: 4;
        $scaleDown :2.3;

        .grid {
            width: 90%;
            max-width: $maxWidth;
            margin: 1.5rem auto 2rem auto;
            grid-gap: $gridGrap;
            grid-template-columns: repeat($columnCount, 1fr);
            grid-template-rows: repeat($rowCount, calc(960px / 5));

            figure {
                position: relative;
                overflow: hidden;
                margin: unset !important;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    opacity: 0;
                    transition: opacity 1s, transform 0.3s ease-in-out;

                    &.vertical, &.VERTICAL {
                        width: calc(540px/$scaleDown);
                        height: calc(960px/$scaleDown);
                    }
    
                    &.horizontal, &.HORIZONTAL {
                        width: calc(960px/$scaleDown);
                        height: calc(540px/$scaleDown);
                    }
                }

                &.img-1 {
                    grid-column: 1/2;
                    grid-row: 1/3;
                }

                &.img-2 {
                    grid-column: 4/5;
                    grid-row: 1/3;
                }

                &.img-3 {
                    display: none;
                }

                &.img-4 {
                    img {
                        width: auto !important;
                        height: -webkit-fill-available !important;
                    }
                }

                &.img-5 {
                    grid-column: 2/4;
                    grid-row: 1/2;
                }

                &.img-6 {
                }

                &.img-7 {
                    grid-column: 1/3;
                    grid-row: 4/5;
                }

                &.img-8 {
                    grid-column: 5/6;
                    grid-row: 2/4;
                }

                &.img-9 {
                    display: none;
                }

                &.img-10 {
                    align-items: start !important;
                }

                &.img-11 {
                    img {
                        width: auto !important;
                        height: -webkit-fill-available !important;
                    }
                }

                &.img-12 {
                    grid-column: 1/2;
                    grid-row: 3/4;
                }

                &.img-13 {
                    grid-column: 3/4;
                    grid-row: 2/4;
                    align-items: end !important;
                }

                &.img-14 {
                    justify-content: end !important;
                    img {
                        width: auto !important;
                        height: -webkit-fill-available !important;
                    }
                }

                &.img-15 {
                    align-items: end !important;
                    grid-column: 4/6;
                }
            }
        }
    }

    @media only screen and (min-width: 1440px) {
        $maxWidth: 1440px;
        $gridGrap: 1px;
        $columnCount: 8;
        $rowCount: 4;
        $scaleDown: 2;

        .grid {
            width: 90%;
            max-width: $maxWidth;
            margin: 1.5rem auto 2rem auto;
            grid-gap: $gridGrap;
            grid-template-columns: repeat($columnCount, 1fr);
            grid-template-rows: repeat($rowCount, calc(960px / $rowCount));

            figure {
                position: relative;
                overflow: hidden;
                margin: unset !important;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    opacity: 0;
                    transition: opacity 1s, transform 0.3s ease-in-out;
                    &:hover {
                        transform: scale(1.02);
                    }
                    &.vertical, &.VERTICAL {
                        width: calc(540px/$scaleDown);
                        height: calc(960px/$scaleDown);
                    }
    
                    &.horizontal, &.HORIZONTAL {
                        width: calc(960px/$scaleDown);
                        height: calc(540px/$scaleDown);
                    }
                }

                &.img-1 {
                    grid-column: 1;
                    grid-row: 1/3;
                }

                &.img-2 {
                    grid-column: 2;
                    grid-row: 2/4;
                }

                &.img-3 {
                    grid-column: 5;
                    grid-row: 1/3;
                }

                &.img-4 {
                    grid-column: 7/9;
                    grid-row: 1/3;
                }

                &.img-5 {
                    grid-column: 2/4;
                    grid-row: 1;
                }

                &.img-6 {
                    grid-column: 4;
                    grid-row: 1;
                }

                &.img-7 {
                    grid-column: 3/5;
                    grid-row: 2;
                }

                &.img-8 {
                    grid-column: 6;
                    grid-row: 1/3;
                }

                &.img-9 {
                    grid-column: 3/5;
                    grid-row: 3;
                }

                &.img-10 {
                    grid-column: 1;
                    grid-row: 3/5;
                }

                &.img-11 {
                    grid-column: 5/7;
                    grid-row: 3/5;
                }

                &.img-12 {}

                &.img-13 {}

                &.img-14 {
                    grid-column: 2/5;
                    grid-row: 4;
                }

                &.img-15 {
                    grid-column: 7/9;
                    grid-row: 4;
                }
            }
        }
    }

    .test {
        display: none;
        position: relative;
        background-color: #000;
        width: 100px;
        height: 100px;
        margin:  10rem auto;
        animation: bottomFloatIn 1s infinite;
    }
}

@keyframes rightFloatIn {
    0% {
        opacity: 0;
        right: -$distance;
    }

    100% {
        opacity: 1;
        right: 0;
    }
}

@keyframes leftFloatIn {
    0% {
        opacity: 0;
        left: -$distance;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes topFloatIn {
    0% {
        opacity: 0;
        top: -$distance;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes bottomFloatIn {
    0% {
        opacity: 0;
        bottom: -$distance;
    }

    100% {
        opacity: 1;
        bottom: 0;
    }
}

@keyframes flip {
    from {
        opacity: 0;
        transform: rotateY(90deg);
    }
    to {
        opacity: 1;
        transform: rotateY(0deg);
    }
}