.page-one {
  color: #fff;
  text-align: center;

  .main-notice {
    .time-left {
      font-size: 2rem;
      font-weight: 800;
      font-family: 'Bhlingglers';
    }

    .name {
      font-size: 5rem;
      font-family: 'Captivate';
    }

    .detail {
      font-size: 2rem;
      font-weight: 800;
      font-family: 'ChavezlafiaButter';
    }
  }
}

@keyframes para {
  100% {
    background-position:
      -5000px 20%,
      -800px 95%,
      500px 50%,
      1000px 100%,
      400px 0;
  }
}