@media only screen and (max-width: 989px) {
  .homePageContainer {
    .main-notice {
      .time-left {
        font-size: 1rem !important;
      }

      .name {
        width: 75%;
        font-size: 4.5rem !important;
        @media only screen and (min-width: 610px) {
          font-size: 6rem !important;
        }
      }

      .detail {
        font-size: 1rem !important;
      }
    }
  }
}

.homePageContainer {
  color: #fff;
  text-align: center;

  .main-notice {
    .time-left {
      font-size: 1.65rem;
      font-weight: 800;
      font-family: 'Level2';
    }

    .name {
      margin: 2rem 0;
      font-size: 7rem;
      font-family: 'Level1';
      
      @media only screen and (max-width: 1100px) {
        font-size: 5.5rem !important;
      }
    }

    .detail {
      font-size: 1.2rem;
      font-weight: 800;
      font-family: 'Level2';
    }
  }
}