.aboutUsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    padding: 1rem 0;
    font-family: 'Level3';
    font-size: 1.3rem;
    text-align: center;

    .summary {
        .summary-title {
            margin: 1rem 0 0.4rem 0;
            font-family: 'Level1';
            font-size: 3.2rem;
        }
        .summary-content {
            margin-bottom: 1rem;
        }
    }
    .couple {
        width: 900px;
        .personal-information {
            background-color: #f7f7f7;
            display: flex;
            flex-direction: row;

            &.reverse {
                flex-direction: row-reverse !important;
            }
            .image {
                width: 450px;
                height: 450px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                &-boy {
                    background-image: url('https://i.etsystatic.com/9193132/r/il/e4b433/1777078144/il_794xN.1777078144_g0ow.jpg');
                }
                &-girl {
                    background-image: url('https://i.etsystatic.com/9193132/r/il/082ee3/4089910818/il_1140xN.4089910818_3psa.jpg');
                }
            }
            .description {
                flex: 1;
                width: 500px;
                font-size: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                span:first-child {
                    font-size: 1.4rem;
                    font-weight: 800;
                }
            }
        }
    }
}

@media only screen and (max-device-width: 989px) {
    .aboutUsContainer {
        font-size: 10rem;
    }
}