.aboutUsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0;
    font-family: 'Level3';
    font-size: 1.3rem;
    text-align: center;
    background-color: var(--linen);

    .couple {
        width: 900px;

        .personal-information {
            display: flex;
            flex-direction: row;

            &.reverse {
                flex-direction: row-reverse !important;
                .description {
                    border-bottom-left-radius: 10rem;
                    border-top-right-radius: unset;
                }
            }

            .image {
                width: 450px;
                height: 450px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .description {
                flex: 1;
                width: 500px;
                font-size: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                border-top-right-radius: 10rem;

                span:first-child {
                    font-size: 1.4rem;
                    font-weight: 800;
                }
                
                span:last-child {
                    font-style: italic;
                    margin-top: 1rem;
                    max-width: 300px;
                }
            }
        }
    }
}

@media only screen and (max-device-width: 989px) {
    .aboutUsContainer {
        .summary {
            .summary-content {
                font-size: 1rem;
            }
        }

        .couple {
            width: 100% !important;

            .personal-information {
                background-color: unset !important;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                &.reverse {
                    flex-direction: column-reverse !important;
                }

                .image {
                    width: 250px !important;
                    height: 250px !important;
                }

                .description {
                    padding: 1.5rem 0;
                    background-color: #f7f7f7;
                    width: 250px !important;
                    font-size: 0.8rem !important;
                    border-bottom-left-radius: unset !important;
                    border-top-right-radius: unset !important;

                    span:first-child {
                        font-size: 1.2rem !important;
                    }
                }
            }
        }
    }
}