$border-color: #c89d9c;

.guestBookContainer {
    background-image: url('/bg.png');
    font-family: 'Level3';
    padding: 2rem 0;

    .contentSection {
        padding: 2rem 0;

        .col {
            height: 500px;
            padding: 0 15px;

            .wish-form {
                border: $border-color double 4px;
                height: -webkit-fill-available;
                padding: 4rem 1.8rem 0 1.8rem;
                background-color: #ffffff99;
            }
    
            .wish-box {
                border: $border-color solid 4px;
                height: -webkit-fill-available;
            }

            .btnSubmit {
                width: 50%;
                background-color: #c89d9cdd !important;
                
                &:hover {
                    background-color: #c89d9cff !important;
                }
            }
        }
    }
}