$border-color: #c89d9c;

.guestBookContainer {
    background-image: url('/bg.png');
    font-family: 'Level3';
    padding: 2rem 0;

    .contentSection {
        padding: 2rem 0;

        .col {
            height: 500px;
            padding: 0 15px;

            .wish-form {
                border: $border-color double 4px;
                height: -webkit-fill-available;
            }
    
            .wish-box {
                border: $border-color solid 4px;
                height: -webkit-fill-available;
            }
        }
    }
}