$border-color: #c89d9c;

.guestBookContainer {
    background-image: url('/bg.png');
    font-family: 'Level3';
    padding: 2rem 0;

    .contentSection {
        input {
            background-color: #fff;
        }

        .col {
            .left-side {
                border: $border-color double 4px;
                height: -webkit-fill-available;
                background-color: #ffffff99;
                height: 100%;

                .seperate-line {
                    border: 1px solid #dbdbdb;
                }

                .qr {
                    .text {
                        font-size: 18px;
                        font-weight: 200;
                        font-style: italic;
                    }
                }
                
                @media only screen and (max-width: 767px) {
                    padding: 1.8rem !important;

                    .seperate-line {
                        width: 80% !important;
                    }
                    .qr {
                        .text {
                            font-size: 14px !important;
                        }
                        .qr-code {
                            img {
                                width: 150px !important;
                                height: auto !important;
                            }
                        }
                    }
                }
            }

            .right-side {
                background-color: #ffffff;
                border: $border-color solid 4px;
                height: 100%;
                overflow-y: auto;

                >div {
                    padding: 10px;
                    &.even {
                        background-color: rgb(200 157 156 / 20%);
                    }

                    .wishes-description {
                        border-bottom: 1px solid #00000040;

                        span:first-child {
                            font-weight: 800;
                        }
                        span:last-child {
                            margin-left: 4px;
                            font-size: 10px;
                            font-style: italic;
                        }
                    }

                    .wishes-content {
                        margin: .5rem 0;
                    }
                }
            }

            .maps-container, .maps-container>iframe {
                width: 100%;
                height: 500px;
            }

            &.timeline {
                img {
                    @media only screen and (max-device-width: 425px) {
                        height: 100px !important;
                        width: 100px !important;
                    }
                }
            }

            .separate-line {
                border: 1px solid #000;
                position: absolute;
                @media only screen and (max-width: 1024px) {
                    left: 50% !important;
                }
            }

            .btnSubmit {
                width: 50%;
                background-color: #c89d9cdd !important;
                
                &:hover {
                    background-color: #c89d9cff !important;
                }
            }
        }
    }
}