.login {
    min-width: 40%;
    padding: 2rem 1.5rem 1rem; // top right bottom left
    box-shadow: rgba(0, 0, 0, 0.16) 10px 10px 46px 4px; // X Y blur size

    >form {

        >.row {
            margin-bottom: 2rem;

            &:first-child {
                margin-bottom: 2.5rem;
            }

            &:last-child {
                margin-bottom: unset;
            }

            >.col-12 {

                >div {
                    min-width: 100%;
                }

                >h2 {
                    text-align: center;
                }
            }
        }
    }
}



@media (max-width: 1754px) {}

@media (max-width: 800px) {}