@media only screen and (min-width: 768px) {
    .headerContainer {
        font-family: 'Level2';
        z-index: 999;
        position: fixed;
        left: 0px;
        top: -50px;

        width: 100vw;
        padding: 20px;
        text-align: center;

        background-color: rgba(0, 0, 0, 0.9);
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);

        font-size: 20px;
        color: white;

        transition: top 1s;
        -webkit-transition: top 1s;

        &:hover {
            top: 0px;
        }

        span {
            margin: 20px;

            a {
                text-decoration: none;
                color: white;

                &:hover {
                    color: rgba(255, 255, 255, 0.5);
                }
            }
        }
    }
    .nav-btn {
        display: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .headerContainer {
        display: none;
    }
    .nav-btn {
        position: fixed !important;
        bottom: calc(100vh / 30);
        right: calc(100vw / 30);
        background-color: var(--champagne) !important;
        color: rgb(var(--font-color)) !important;
    }
    .nav-menu {
        .MuiPaper-root {
            background-color: var(--linen);
            .href {
                color: rgb(var(--font-color)) !important;
                text-decoration: none !important;
                cursor: pointer !important;
                
                .MuiTypography-root {
                    font-family: 'Level3' !important;
                }
            }
        }
    }
}