.headerContainer {
    z-index: 999;
    position: fixed;
    left: 0px;
    top: -50px;

    width: 100vw;
    padding: 20px;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);

    font-size: 20px;
    color: white;

    transition: top 1s;
    -webkit-transition: top 1s;

    font-family: 'Level2';

    &:hover {
        top: 0px;
    }

    span {
        margin: 20px;

        a {
            text-decoration: none;
            color: white;

            &:hover {
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}